@import '~semantic-ui-css/semantic.min';

.homeHeader{
  text-align: center;
}
.footer{
  height: 5vh;
}
.map-container {
  height: 100vh
}

.map-container-medium{
  height: 250px
}

.artist-grid {
  margin: 15px;
  padding: 20px;
}

.festival-name{
  margin: 0px;
}